page-login {
  box-shadow: 0 2px 6px 0 rgba(34, 34, 34, 0.6), 0 4px 5px rgba(0, 0, 0, 0.1);
  .toolbar-title {
    padding: 0 !important;
    color: white;
  }

  .button{
    margin-top: 10px;
  }

  .scroll-content{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    padding-top: 5px;
    background-image: url('../assets/imgs/Flogin.jpg');
    background-size: 100% 100%;
    text-align: center;
    color: white;
  }

  .btn_face{
    background-color: #3b5998;

  }
  .btn_twiter{
    background-color: #d34836;
  }

  h1{
    font-family: "Avenir";
    font-size: 65px;
    padding-top: 40px;
    margin-bottom: 0px;
  }
  #text1{
    font-size: 25px;
    margin-top: 0px !important;
    margin-bottom: 35px !important;
  }

  #text2{
    margin-bottom: 0px;
  }

  p{
    font-family: "Avenir";
  }
  .btn_link{
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0px 100px 0px 100px;
    bottom: 15px;
  }

}
