page-terminos {
  box-shadow: 0 2px 6px 0 rgba(34, 34, 34, 0.6), 0 4px 5px rgba(0, 0, 0, 0.1);
  .toolbar-title {
    padding: 0 !important;
    color: white;
  }

  .scroll-content{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    // padding-top: 5px !important;
    color: white;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
  }
  .content{
    background-image: url('../assets/imgs/Flogin.jpg');
    background-size: 100% 100%;
  }
}
