notification-toggle {
    button {
        background-color: transparent !important;
        box-shadow: none !important;
    }
  #noti-on {
    color: white;
  }

  #noti-off {
    color: #bfbfbf8a !important;
  }
}
